<jhi-page-ribbon></jhi-page-ribbon>

<div>
  <router-outlet name="navbar"></router-outlet>
</div>

<div class="container-fluid">
  <div class="card jh-card">
    <router-outlet></router-outlet>
  </div>
  <div [ngSwitch]="!isAuthenticated() || !hasRole('ROLE_ADMIN')">
    <div *ngSwitchCase="true">
      <nav class="navbar fixed-bottom navbar-light bottom-bar">
        <button type="button" routerLink="/" class="btn w-25 p-3">
          <fa-icon icon="home"></fa-icon>
        </button>
        <button type="button" routerLink="favorite" class="btn w-25 p-3">
          <fa-icon icon="heart"></fa-icon>
        </button>
        <button type="button" routerLink="profile" class="btn w-25 p-3">
          <fa-icon icon="user"></fa-icon>
        </button>
      </nav>
    </div>
  </div>
</div>
