<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="favorite">
      <h2 data-cy="favoriteDetailsHeading"><span jhiTranslate="giphlyApp.favorite.detail.title">Favorite</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ favorite.id }}</span>
        </dd>
        <dt><span jhiTranslate="giphlyApp.favorite.gif">Gif</span></dt>
        <dd>
          <div *ngIf="favorite.gif">
            <a [routerLink]="['/gif', favorite.gif?.id, 'view']">{{ favorite.gif?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="giphlyApp.favorite.user">User</span></dt>
        <dd>
          <span>{{ favorite.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/favorite', favorite.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
